body {
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: #7e4747;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    flex-grow: 1;
}

.left-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

textarea#inputText {
    height: calc(100% - 60px);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px;
    width: 48%;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

textarea#outputText {
    height: calc(100% - 60px);
    background-color: #ffffff;
}

.copy-button {
    padding: 10px;
    font-size: 16px;
    color: #007bff;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.copy-button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Rodapé */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

footer p {
    margin: 0;
}
